 <!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4to9FJSeDwFo7vhqyj9VggAuCtgHpkIA&sensor=false"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/countdown.min.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#galeria .galeria-section .container .row .col-lg-8').removeClass('col-lg-8 col-lg-offset-2');
    });
</script>