{% include css/bootstrap.min.css %}
{% include css/grayscale.css %}

header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    position: relative;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
}

.navbar-brand {
    line-height: 40px;
}

h1 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

.content-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
    .content-section p {
        text-indent: 25px;
        font-size: 16px;
    }
        .content-section p.text-center {
            text-indent: 0;
        }

.top-nav-collapse,
.navbar-custom.top-nav-collapse a,
#galeria,
#padrinhos,
#quantofalta,
footer.navbar-custom {
    background-color: #484043;
    color: #EAD3A8;
}

#sobre,
#pais,
#familiares,
#cerimoniaerecepcao,
#listadepresentes {
    background-color: #EAD3A8;
    color: #484043;
}

#quantofalta,
#galeria {
    padding: 0;
}

#quantofalta {
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
    #countdown {
        font-size: 60px;
        font-weight: 700;
    }

#map {
    margin-top: 0;
}