{% include css/bootstrap.min.css %}
{% include css/grayscale.css %}

header {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.6);
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
}

.navbar-brand {
    line-height: 40px;
}

h1 {
    font-size: 44px;
}

h3 {
    font-size: 30px;
}

.content-section {
    padding-top: 80px;
    padding-bottom: 80px;
}
    .content-section p {
        text-indent: 25px;
        font-size: 16px;
    }

.top-nav-collapse,
.navbar-custom.top-nav-collapse a,
#galeria,
#padrinhos,
#quantofalta,
footer {
    background-color: #484043;
    color: #EAD3A8;
}

#sobre,
#familiares,
#cerimoniarecepcao {
    background-color: #EAD3A8;
    color: #484043;
}

#countdown {
    font-size: 52px;
    font-weight: 700;
}

#map {
    margin-top: 0;
}